[submodule "src/esp-open-rtos/esp-open-rtos"]
	path = src/esp-open-rtos/esp-open-rtos
	url = https://github.com/SuperHouse/esp-open-rtos.git
[submodule "src/xtensa-toolchain"]
	path = src/xtensa-toolchain
	url = https://github.com/vowstar/xtensa-toolchain.git
[submodule "src/freertos"]
	path = src/freertos
	url = https://github.com/cjlano/freertos.git
[submodule "src/esp8266-driver"]
	path = src/esp8266-driver
	url = https://github.com/ARMmbed/esp8266-driver.git
[submodule "src/mbed-os"]
	path = src/mbed-os
	url = https://github.com/ARMmbed/mbed-os.git
